In [1]:
import pandas

In [2]:
file = 'data/group8_data.xlsx'
idx = ord('K')-ord('A')+1
set_cols = [0] + list(range(1, idx))
idx+=10
ratings_cols = [0] + list(range(idx-10, idx))
idx+=10
amt_cols = [0] + list(range(idx-10, idx))
idx+=10
lgd_cols = [0] + list(range(idx-10, idx))
idx+=10
ead_cols = [0] + list(range(idx-10, idx))
#set_cols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
print(ratings_cols)

[0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
set_df = pandas.read_excel(file, sheet_name='GR 8', skiprows=1, usecols=set_cols)
set_df.head()

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,6,5,6,1,7,4,1,6,8,4
1,2,4,2,2,8,2,4,2,3,7,6
2,3,8,1,1,3,1,8,6,3,2,8
3,4,1,7,7,1,6,1,8,6,5,7
4,5,4,2,1,3,4,8,4,3,8,8

In [5]:
ratings_df = pandas.read_excel(file, sheet_name='GR 8', skiprows=1, usecols=ratings_cols)
ratings_df.columns = set_df.columns
ratings_df.head()

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,B,BB,B,AAA,C,BBB,AAA,B,D,BBB
1,2,BBB,AA,AA,D,AA,BBB,AA,A,C,B
2,3,D,AAA,AAA,A,AAA,D,B,A,AA,D
3,4,AAA,C,C,AAA,B,AAA,D,B,BB,C
4,5,BBB,AA,AAA,A,BBB,D,BBB,A,D,D

In [6]:
amt_df = pandas.read_excel(file, sheet_name='GR 8', skiprows=1, usecols=amt_cols)
amt_df.columns = set_df.columns
amt_df.head()

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,5.908076,19.850548,29.405965,25.783598,13.179200,29.932541,11.316490,12.749313,15.586918,14.139291
1,2,26.852372,13.519485,25.115675,16.251639,4.857726,12.795256,19.633058,28.628944,17.994606,10.185903
2,3,29.402840,15.055340,14.879956,11.879450,2.916914,18.987267,16.198259,9.921092,13.461644,6.378169
3,4,27.613589,9.436365,17.509420,29.702335,7.872808,17.068248,13.514716,27.363824,24.116731,6.535588
4,5,19.224711,11.591983,11.747656,29.325257,26.684249,3.032763,19.710058,22.864382,13.342297,12.300347

In [7]:
lgd_df = pandas.read_excel(file, sheet_name='GR 8', skiprows=1, usecols=lgd_cols)
lgd_df.columns = set_df.columns
lgd_df.head()

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,0.189738,0.609266,0.308814,0.761184,0.295602,0.706625,0.600434,0.526366,0.125797,0.655187
1,2,0.174416,0.321039,0.443881,0.350629,0.221498,0.819307,0.137075,0.187482,0.436967,0.743362
2,3,0.516752,0.552515,0.666921,0.777390,0.339823,0.588421,0.809114,0.870605,0.641491,0.827712
3,4,0.856269,0.453167,0.666373,0.841519,0.578878,0.578149,0.332406,0.185532,0.211481,0.438738
4,5,0.838227,0.296076,0.197266,0.410819,0.891295,0.146528,0.106924,0.568088,0.520236,0.226879

In [8]:
ead_df = pandas.read_excel(file, sheet_name='GR 8', skiprows=1, usecols=ead_cols)
ead_df.columns = set_df.columns
ead_df.head()

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,1.392593,1.564390,1.850159,1.277252,1.941503,1.376388,1.289142,1.522209,1.421431,1.617152
1,2,1.143623,1.304067,1.328778,1.371715,1.826535,1.860508,1.249120,1.117301,1.003831,1.662610
2,3,1.907290,1.789134,1.574075,1.687708,1.334155,1.525700,1.564584,1.360050,1.807629,1.616908
3,4,1.897296,1.087418,1.720015,1.022965,1.922841,1.576146,1.585755,1.480124,1.804589,1.921085
4,5,1.338979,1.279572,1.122078,1.646241,1.820419,1.774618,1.453118,1.281321,1.643405,1.353451

In [9]:
set_df.to_excel('data/set_data.xlsx', index=False)
ratings_df.to_excel('data/ratings_data.xlsx', index=False)
amt_df.to_excel('data/amt_data.xlsx', index=False)
lgd_df.to_excel('data/lgd_data.xlsx', index=False)
ead_df.to_excel('data/ead_data.xlsx', index=False)