In [1]:
import pandas as pd

In [2]:
pd_df = pd.read_excel("outputs/probability_of_default_year_2_to_10.xlsx", index_col=0)

In [3]:
probability_survival_df = 1-pd_df
probability_survival_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Rating,,,,,,,,,
1,0.833333,0.891304,0.938224,0.825000,0.866109,0.886640,0.886957,0.883333,0.842553
2,0.868526,0.890688,0.869748,0.876068,0.860215,0.886640,0.891304,0.895522,0.877863
3,0.844538,0.902128,0.931298,0.931727,0.848148,0.865385,0.886275,0.895522,0.862595
4,0.865079,0.873077,0.876000,0.825000,0.896154,0.886555,0.878543,0.883333,0.883333
5,0.868526,0.890688,0.931298,0.931727,0.882353,0.865385,0.906716,0.895522,0.842553
...,...,...,...,...,...,...,...,...,...
1996,0.868644,0.890688,0.864754,0.861538,0.860215,0.899582,0.878229,0.876543,0.847656
1997,0.833333,0.885185,0.888889,0.931727,0.848148,0.843882,0.878543,0.886179,0.847656
1998,0.868644,0.873077,0.844622,0.866412,0.896154,0.865385,0.878229,0.888462,0.842553
1999,0.892000,0.873077,0.876000,0.891566,0.896154,0.853933,0.886957,0.888462,0.902622
2000,0.865079,0.867220,0.938224,0.890110,0.860215,0.853933,0.886719,0.868726,0.876543

In [4]:
cumulative_pd_df = pd.DataFrame(1, index=pd_df.index, columns=['Year 5', 'Year 10'])
prod = pd.DataFrame(1, index=pd_df.index, columns=['dummy'])
for year in range(2, 11):
    prod['dummy'] = prod['dummy'] * probability_survival_df[f"Year {year}"]
    if year == 5 or year == 10:
        cumulative_pd_df[f'Year {year}'] = 1 - prod['dummy']
cumulative_pd_df

          Year 5   Year 10
Rating
1       0.425083  0.708560
2       0.410560  0.684991
3       0.338904  0.667802
4       0.454159  0.702719
5       0.328748  0.649343
...          ...       ...
1996    0.423586  0.708940
1997    0.389073  0.711433
1998    0.445015  0.717046
1999    0.391760  0.668924
2000    0.373479  0.689252

[2000 rows x 2 columns]

In [5]:
cumulative_pd_df.to_excel("outputs/cumulative_probability_of_default_year_5_and_10.xlsx", index_label="Rating")