In [1]:
import pandas as pd

In [2]:
years = list(range(2, 11))
transition_matrices = []
for i in years:
    filename = f"outputs/transition_matrix_year_{i-1}_to_{i}.xlsx"
    df = pd.read_excel(filename, index_col=0)
    transition_matrices.append(df)

transition_matrices

[          AAA        AA         A       BBB        BB         B         C  \
 AAA  0.146825  0.119048  0.115079  0.134921  0.111111  0.103175  0.134921
 AA   0.128514  0.124498  0.136546  0.148594  0.116466  0.104418  0.144578
 A    0.084615  0.115385  0.134615  0.130769  0.119231  0.169231  0.092308
 BBB  0.103586  0.107570  0.111554  0.135458  0.135458  0.143426  0.131474
 BB   0.127119  0.161017  0.114407  0.127119  0.093220  0.122881  0.122881
 B    0.132576  0.106061  0.079545  0.140152  0.109848  0.113636  0.151515
 C    0.112000  0.116000  0.140000  0.148000  0.104000  0.116000  0.156000
 D    0.105042  0.142857  0.134454  0.121849  0.130252  0.105042  0.105042

             D
 AAA  0.134921
 AA   0.096386
 A    0.153846
 BBB  0.131474
 BB   0.131356
 B    0.166667
 C    0.108000
 D    0.155462  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.157447  0.110638  0.127660  0.127660  0.127660  0.119149  0.131915
 AA   0.153846  0.133603  0.117409  0.125506  0.109312  0.157895  0.093117
 A    0.132780  0.136929  0.136929  0.099585  0.103734  0.132780  0.124481
 BBB  0.110294  0.121324  0.125000  0.132353  0.113971  0.125000  0.132353
 BB   0.126087  0.126087  0.160870  0.130435  0.134783  0.108696  0.104348
 B    0.138776  0.085714  0.106122  0.138776  0.138776  0.114286  0.134694
 C    0.119231  0.150000  0.107692  0.084615  0.150000  0.123077  0.138462
 D    0.114815  0.088889  0.133333  0.133333  0.125926  0.151852  0.137037

             D
 AAA  0.097872
 AA   0.109312
 A    0.132780
 BBB  0.139706
 BB   0.108696
 B    0.142857
 C    0.126923
 D    0.114815  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.103053  0.137405  0.141221  0.145038  0.141221  0.129771  0.133588
 AA   0.100840  0.109244  0.113445  0.142857  0.142857  0.126050  0.134454
 A    0.146245  0.134387  0.114625  0.122530  0.106719  0.090909  0.130435
 BBB  0.131687  0.106996  0.098765  0.135802  0.172840  0.127572  0.115226
 BB   0.091633  0.135458  0.143426  0.123506  0.111554  0.099602  0.139442
 B    0.119691  0.127413  0.135135  0.100386  0.123552  0.146718  0.185328
 C    0.124000  0.140000  0.128000  0.128000  0.108000  0.120000  0.128000
 D    0.143443  0.102459  0.118852  0.143443  0.143443  0.090164  0.122951

             D
 AAA  0.068702
 AA   0.130252
 A    0.154150
 BBB  0.111111
 BB   0.155378
 B    0.061776
 C    0.124000
 D    0.135246  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.125000  0.141667  0.091667  0.104167  0.166667  0.129167  0.066667
 AA   0.140562  0.136546  0.128514  0.092369  0.120482  0.128514  0.144578
 A    0.140562  0.192771  0.100402  0.148594  0.080321  0.156627  0.112450
 BBB  0.146154  0.169231  0.080769  0.100000  0.134615  0.126923  0.103846
 BB   0.106870  0.129771  0.103053  0.114504  0.145038  0.122137  0.145038
 B    0.120172  0.098712  0.111588  0.128755  0.180258  0.115880  0.098712
 C    0.153846  0.098901  0.131868  0.150183  0.076923  0.131868  0.146520
 D    0.145299  0.149573  0.094017  0.111111  0.115385  0.128205  0.132479

             D
 AAA  0.175000
 AA   0.108434
 A    0.068273
 BBB  0.138462
 BB   0.133588
 B    0.145923
 C    0.109890
 D    0.123932  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.118519  0.103704  0.107407  0.122222  0.114815  0.162963  0.118519
 AA   0.132616  0.129032  0.111111  0.146953  0.132616  0.100358  0.107527
 A    0.094787  0.080569  0.146919  0.127962  0.137441  0.137441  0.127962
 BBB  0.121849  0.121849  0.134454  0.096639  0.151261  0.147059  0.109244
 BB   0.110672  0.146245  0.130435  0.110672  0.114625  0.126482  0.142292
 B    0.119231  0.115385  0.111538  0.130769  0.119231  0.165385  0.134615
 C    0.125523  0.129707  0.121339  0.104603  0.167364  0.108787  0.108787
 D    0.124000  0.116000  0.100000  0.144000  0.136000  0.112000  0.140000

             D
 AAA  0.151852
 AA   0.139785
 A    0.146919
 BBB  0.117647
 BB   0.118577
 B    0.103846
 C    0.133891
 D    0.128000  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.100840  0.126050  0.134454  0.130252  0.126050  0.117647  0.151261
 AA   0.092827  0.122363  0.139241  0.139241  0.109705  0.143460  0.097046
 A    0.112971  0.125523  0.104603  0.129707  0.154812  0.133891  0.138075
 BBB  0.145749  0.097166  0.113360  0.125506  0.157895  0.137652  0.109312
 BB   0.142322  0.116105  0.116105  0.104869  0.142322  0.123596  0.108614
 B    0.101887  0.098113  0.116981  0.200000  0.105660  0.098113  0.158491
 C    0.101215  0.109312  0.117409  0.117409  0.149798  0.149798  0.153846
 D    0.119231  0.126923  0.130769  0.123077  0.138462  0.119231  0.107692

             D
 AAA  0.113445
 AA   0.156118
 A    0.100418
 BBB  0.113360
 BB   0.146067
 B    0.120755
 C    0.101215
 D    0.134615  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.156522  0.108696  0.091304  0.130435  0.165217  0.086957  0.147826
 AA   0.147826  0.152174  0.160870  0.113043  0.117391  0.104348  0.095652
 A    0.119342  0.102881  0.201646  0.127572  0.119342  0.090535  0.119342
 BBB  0.111940  0.134328  0.138060  0.111940  0.111940  0.145522  0.152985
 BB   0.136531  0.158672  0.095941  0.125461  0.114391  0.140221  0.107011
 B    0.133333  0.101961  0.141176  0.149020  0.098039  0.121569  0.141176
 C    0.121094  0.156250  0.128906  0.101562  0.109375  0.117188  0.152344
 D    0.113360  0.121457  0.117409  0.113360  0.153846  0.145749  0.113360

             D
 AAA  0.113043
 AA   0.108696
 A    0.119342
 BBB  0.093284
 BB   0.121771
 B    0.113725
 C    0.113281
 D    0.121457  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.131274  0.127413  0.127413  0.088803  0.150579  0.150579  0.092664
 AA   0.111538  0.130769  0.130769  0.111538  0.092308  0.180769  0.130769
 A    0.108209  0.156716  0.108209  0.111940  0.130597  0.145522  0.134328
 BBB  0.123457  0.131687  0.139918  0.123457  0.111111  0.102881  0.144033
 BB   0.121951  0.126016  0.130081  0.134146  0.130081  0.113821  0.130081
 B    0.133333  0.125000  0.125000  0.125000  0.104167  0.141667  0.129167
 C    0.127907  0.116279  0.104651  0.135659  0.116279  0.116279  0.151163
 D    0.172566  0.132743  0.106195  0.110619  0.123894  0.110619  0.137168

             D
 AAA  0.131274
 AA   0.111538
 A    0.104478
 BBB  0.123457
 BB   0.113821
 B    0.116667
 C    0.131783
 D    0.106195  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.070312  0.175781  0.113281  0.113281  0.132812  0.128906  0.113281
 AA   0.114504  0.141221  0.106870  0.118321  0.118321  0.141221  0.122137
 A    0.144033  0.094650  0.164609  0.111111  0.111111  0.106996  0.144033
 BBB  0.102128  0.148936  0.114894  0.161702  0.131915  0.119149  0.097872
 BB   0.108333  0.104167  0.141667  0.141667  0.112500  0.095833  0.179167
 B    0.123596  0.127341  0.112360  0.157303  0.153558  0.116105  0.112360
 C    0.122137  0.141221  0.137405  0.137405  0.118321  0.122137  0.099237
 D    0.144681  0.119149  0.106383  0.085106  0.170213  0.089362  0.127660

             D
 AAA  0.152344
 AA   0.137405
 A    0.123457
 BBB  0.123404
 BB   0.116667
 B    0.097378
 C    0.122137
 D    0.157447  ]

In [3]:
probs_default = [(matrix['D']) for matrix in transition_matrices]
probs_default

[AAA    0.134921
 AA     0.096386
 A      0.153846
 BBB    0.131474
 BB     0.131356
 B      0.166667
 C      0.108000
 D      0.155462
 Name: D, dtype: float64,
 AAA    0.097872
 AA     0.109312
 A      0.132780
 BBB    0.139706
 BB     0.108696
 B      0.142857
 C      0.126923
 D      0.114815
 Name: D, dtype: float64,
 AAA    0.068702
 AA     0.130252
 A      0.154150
 BBB    0.111111
 BB     0.155378
 B      0.061776
 C      0.124000
 D      0.135246
 Name: D, dtype: float64,
 AAA    0.175000
 AA     0.108434
 A      0.068273
 BBB    0.138462
 BB     0.133588
 B      0.145923
 C      0.109890
 D      0.123932
 Name: D, dtype: float64,
 AAA    0.151852
 AA     0.139785
 A      0.146919
 BBB    0.117647
 BB     0.118577
 B      0.103846
 C      0.133891
 D      0.128000
 Name: D, dtype: float64,
 AAA    0.113445
 AA     0.156118
 A      0.100418
 BBB    0.113360
 BB     0.146067
 B      0.120755
 C      0.101215
 D      0.134615
 Name: D, dtype: float64,
 AAA    0.113043
 AA     0.108696
 A      0.119342
 BBB    0.093284
 BB     0.121771
 B      0.113725
 C      0.113281
 D      0.121457
 Name: D, dtype: float64,
 AAA    0.131274
 AA     0.111538
 A      0.104478
 BBB    0.123457
 BB     0.113821
 B      0.116667
 C      0.131783
 D      0.106195
 Name: D, dtype: float64,
 AAA    0.152344
 AA     0.137405
 A      0.123457
 BBB    0.123404
 BB     0.116667
 B      0.097378
 C      0.122137
 D      0.157447
 Name: D, dtype: float64]

In [4]:
prob_default_df = pd.DataFrame()
borrowers = pd.read_excel("data/ratings_data.xlsx", index_col=0)

for year in range(2, 11):
    for borrower in borrowers.index:
        rating = borrowers.loc[borrower, f'Year {year-1}']
        prob_default = probs_default[year-2].loc[rating]
        prob_default_df.loc[borrower, f'Year {year}'] = prob_default

In [5]:
prob_default_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
1,0.166667,0.108696,0.061776,0.175000,0.133891,0.113360,0.113043,0.116667,0.157447
2,0.131474,0.109312,0.130252,0.123932,0.139785,0.113360,0.108696,0.104478,0.122137
3,0.155462,0.097872,0.068702,0.068273,0.151852,0.134615,0.113725,0.104478,0.137405
4,0.134921,0.126923,0.124000,0.175000,0.103846,0.113445,0.121457,0.116667,0.116667
5,0.131474,0.109312,0.068702,0.068273,0.117647,0.134615,0.093284,0.104478,0.157447
...,...,...,...,...,...,...,...,...,...
1996,0.131356,0.109312,0.135246,0.138462,0.139785,0.100418,0.121771,0.123457,0.152344
1997,0.166667,0.114815,0.111111,0.068273,0.151852,0.156118,0.121457,0.113821,0.152344
1998,0.131356,0.126923,0.155378,0.133588,0.103846,0.134615,0.121771,0.111538,0.157447
1999,0.108000,0.126923,0.124000,0.108434,0.103846,0.146067,0.113043,0.111538,0.097378
2000,0.134921,0.132780,0.061776,0.109890,0.139785,0.146067,0.113281,0.131274,0.123457

In [6]:
prob_default_df.to_excel("outputs/probability_of_default_year_2_to_10.xlsx", index_label="Rating")

In [7]:
lgd_df = pd.read_excel("data/lgd_data.xlsx", index_col=0)
ead_df = pd.read_excel("data/ead_data.xlsx", index_col=0)
amt_df = pd.read_excel("data/amt_data.xlsx", index_col=0)

expected_loss_df = pd.DataFrame()

for year in range(2, 11):
    expected_loss_df[f'Year {year}'] = (prob_default_df[f'Year {year}'] *
                                        lgd_df[f'Year {year}'] *
                                        ead_df[f'Year {year}'] *
                                        amt_df[f'Year {year}'])

In [8]:
expected_loss_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
1,3.153358,1.826221,1.548568,1.323648,3.897854,0.992977,1.154766,0.325165,2.358725
2,0.744146,1.619311,1.018107,0.243564,2.726389,0.381075,0.651851,0.824659,1.537584
3,2.313675,1.528838,1.070788,0.090289,2.588450,2.760399,1.335960,1.630877,1.172903
4,0.627390,2.547194,3.170567,1.533551,1.615161,0.808163,0.912681,1.073781,0.642663
5,0.577386,0.284246,1.362564,2.955951,0.092778,0.412246,1.552523,1.191788,0.594686
...,...,...,...,...,...,...,...,...,...
1996,1.386966,1.429001,0.543545,0.571494,2.441284,0.631440,1.106937,1.761906,0.372305
1997,0.919048,1.611472,2.637470,1.953087,2.781040,0.705301,0.686388,0.303923,0.344571
1998,2.978620,1.470045,0.891673,0.713605,0.353139,1.057625,3.566960,0.423019,2.075920
1999,0.102470,0.516315,0.607898,0.358999,0.418499,1.441232,2.145254,2.676669,1.321754
2000,0.877846,1.054014,1.573298,1.849744,3.760912,0.291285,0.401182,2.439931,0.148343

In [9]:
expected_loss_df.to_excel("outputs/expected_loss_year_2_to_10.xlsx", index_label="Rating")

## STRESS TESTING
(i) Cap LGD at 1.0

In [10]:
lgd = 1

stress_test_expected_loss_df = pd.DataFrame()

for year in range(2, 11):
    stress_test_expected_loss_df[f'Year {year}'] = (prob_default_df[f'Year {year}'] *
                                        lgd *
                                        ead_df[f'Year {year}'] *
                                        amt_df[f'Year {year}'])

In [11]:
stress_test_expected_loss_df.to_excel("outputs/stress_test_expected_loss_year_2_to_10.xlsx", index_label="Rating")