In [1]:
import pandas as pd

In [2]:
ratings_df = pd.read_excel('data/ratings_data.xlsx')
ratings_df

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,B,BB,B,AAA,C,BBB,AAA,B,D,BBB
1,2,BBB,AA,AA,D,AA,BBB,AA,A,C,B
2,3,D,AAA,AAA,A,AAA,D,B,A,AA,D
3,4,AAA,C,C,AAA,B,AAA,D,B,BB,C
4,5,BBB,AA,AAA,A,BBB,D,BBB,A,D,D
...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,BB,AA,D,BBB,AA,A,BB,BBB,AAA,BBB
1996,1997,B,D,BBB,A,AAA,AA,D,BB,AAA,B
1997,1998,BB,C,BB,BB,B,D,BB,AA,D,C
1998,1999,C,C,C,AA,B,BB,AAA,AA,B,BB
1999,2000,AAA,A,B,C,AA,BB,C,AAA,A,AA

In [3]:
ratings = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'C', 'D']

transition_matrices = []
for i in range(2, 11):
    transition_matrix = pd.DataFrame(0.0, index=ratings, columns=ratings)
    transition_matrices.append(transition_matrix)
transition_matrices

[     AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0,
      AAA   AA    A  BBB   BB    B    C    D
 AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0]

In [4]:
for i in range(len(ratings_df)):
    for j in range(2, len(ratings_df.columns)):
        from_rating = ratings_df.iloc[i, j-1]
        to_rating = ratings_df.iloc[i, j]
        transition_matrices[j-2].loc[from_rating, to_rating] += 1

In [5]:
transition_matrices

[      AAA    AA     A   BBB    BB     B     C     D
 AAA  37.0  30.0  29.0  34.0  28.0  26.0  34.0  34.0
 AA   32.0  31.0  34.0  37.0  29.0  26.0  36.0  24.0
 A    22.0  30.0  35.0  34.0  31.0  44.0  24.0  40.0
 BBB  26.0  27.0  28.0  34.0  34.0  36.0  33.0  33.0
 BB   30.0  38.0  27.0  30.0  22.0  29.0  29.0  31.0
 B    35.0  28.0  21.0  37.0  29.0  30.0  40.0  44.0
 C    28.0  29.0  35.0  37.0  26.0  29.0  39.0  27.0
 D    25.0  34.0  32.0  29.0  31.0  25.0  25.0  37.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  37.0  26.0  30.0  30.0  30.0  28.0  31.0  23.0
 AA   38.0  33.0  29.0  31.0  27.0  39.0  23.0  27.0
 A    32.0  33.0  33.0  24.0  25.0  32.0  30.0  32.0
 BBB  30.0  33.0  34.0  36.0  31.0  34.0  36.0  38.0
 BB   29.0  29.0  37.0  30.0  31.0  25.0  24.0  25.0
 B    34.0  21.0  26.0  34.0  34.0  28.0  33.0  35.0
 C    31.0  39.0  28.0  22.0  39.0  32.0  36.0  33.0
 D    31.0  24.0  36.0  36.0  34.0  41.0  37.0  31.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  27.0  36.0  37.0  38.0  37.0  34.0  35.0  18.0
 AA   24.0  26.0  27.0  34.0  34.0  30.0  32.0  31.0
 A    37.0  34.0  29.0  31.0  27.0  23.0  33.0  39.0
 BBB  32.0  26.0  24.0  33.0  42.0  31.0  28.0  27.0
 BB   23.0  34.0  36.0  31.0  28.0  25.0  35.0  39.0
 B    31.0  33.0  35.0  26.0  32.0  38.0  48.0  16.0
 C    31.0  35.0  32.0  32.0  27.0  30.0  32.0  31.0
 D    35.0  25.0  29.0  35.0  35.0  22.0  30.0  33.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  30.0  34.0  22.0  25.0  40.0  31.0  16.0  42.0
 AA   35.0  34.0  32.0  23.0  30.0  32.0  36.0  27.0
 A    35.0  48.0  25.0  37.0  20.0  39.0  28.0  17.0
 BBB  38.0  44.0  21.0  26.0  35.0  33.0  27.0  36.0
 BB   28.0  34.0  27.0  30.0  38.0  32.0  38.0  35.0
 B    28.0  23.0  26.0  30.0  42.0  27.0  23.0  34.0
 C    42.0  27.0  36.0  41.0  21.0  36.0  40.0  30.0
 D    34.0  35.0  22.0  26.0  27.0  30.0  31.0  29.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  32.0  28.0  29.0  33.0  31.0  44.0  32.0  41.0
 AA   37.0  36.0  31.0  41.0  37.0  28.0  30.0  39.0
 A    20.0  17.0  31.0  27.0  29.0  29.0  27.0  31.0
 BBB  29.0  29.0  32.0  23.0  36.0  35.0  26.0  28.0
 BB   28.0  37.0  33.0  28.0  29.0  32.0  36.0  30.0
 B    31.0  30.0  29.0  34.0  31.0  43.0  35.0  27.0
 C    30.0  31.0  29.0  25.0  40.0  26.0  26.0  32.0
 D    31.0  29.0  25.0  36.0  34.0  28.0  35.0  32.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  24.0  30.0  32.0  31.0  30.0  28.0  36.0  27.0
 AA   22.0  29.0  33.0  33.0  26.0  34.0  23.0  37.0
 A    27.0  30.0  25.0  31.0  37.0  32.0  33.0  24.0
 BBB  36.0  24.0  28.0  31.0  39.0  34.0  27.0  28.0
 BB   38.0  31.0  31.0  28.0  38.0  33.0  29.0  39.0
 B    27.0  26.0  31.0  53.0  28.0  26.0  42.0  32.0
 C    25.0  27.0  29.0  29.0  37.0  37.0  38.0  25.0
 D    31.0  33.0  34.0  32.0  36.0  31.0  28.0  35.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  36.0  25.0  21.0  30.0  38.0  20.0  34.0  26.0
 AA   34.0  35.0  37.0  26.0  27.0  24.0  22.0  25.0
 A    29.0  25.0  49.0  31.0  29.0  22.0  29.0  29.0
 BBB  30.0  36.0  37.0  30.0  30.0  39.0  41.0  25.0
 BB   37.0  43.0  26.0  34.0  31.0  38.0  29.0  33.0
 B    34.0  26.0  36.0  38.0  25.0  31.0  36.0  29.0
 C    31.0  40.0  33.0  26.0  28.0  30.0  39.0  29.0
 D    28.0  30.0  29.0  28.0  38.0  36.0  28.0  30.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  34.0  33.0  33.0  23.0  39.0  39.0  24.0  34.0
 AA   29.0  34.0  34.0  29.0  24.0  47.0  34.0  29.0
 A    29.0  42.0  29.0  30.0  35.0  39.0  36.0  28.0
 BBB  30.0  32.0  34.0  30.0  27.0  25.0  35.0  30.0
 BB   30.0  31.0  32.0  33.0  32.0  28.0  32.0  28.0
 B    32.0  30.0  30.0  30.0  25.0  34.0  31.0  28.0
 C    33.0  30.0  27.0  35.0  30.0  30.0  39.0  34.0
 D    39.0  30.0  24.0  25.0  28.0  25.0  31.0  24.0,
       AAA    AA     A   BBB    BB     B     C     D
 AAA  18.0  45.0  29.0  29.0  34.0  33.0  29.0  39.0
 AA   30.0  37.0  28.0  31.0  31.0  37.0  32.0  36.0
 A    35.0  23.0  40.0  27.0  27.0  26.0  35.0  30.0
 BBB  24.0  35.0  27.0  38.0  31.0  28.0  23.0  29.0
 BB   26.0  25.0  34.0  34.0  27.0  23.0  43.0  28.0
 B    33.0  34.0  30.0  42.0  41.0  31.0  30.0  26.0
 C    32.0  37.0  36.0  36.0  31.0  32.0  26.0  32.0
 D    34.0  28.0  25.0  20.0  40.0  21.0  30.0  37.0]

In [6]:
overall_transition_matrix_df = transition_matrices[0].copy()

for matrix in transition_matrices[1:]:
    overall_transition_matrix_df += matrix
overall_transition_matrix_df

       AAA     AA      A    BBB     BB      B      C      D
AAA  275.0  287.0  262.0  273.0  307.0  283.0  271.0  284.0
AA   281.0  295.0  285.0  285.0  265.0  297.0  268.0  275.0
A    266.0  282.0  296.0  272.0  260.0  286.0  275.0  270.0
BBB  275.0  286.0  265.0  281.0  305.0  295.0  276.0  274.0
BB   269.0  302.0  283.0  278.0  276.0  265.0  295.0  288.0
B    285.0  251.0  264.0  324.0  287.0  288.0  318.0  271.0
C    283.0  295.0  285.0  283.0  279.0  282.0  315.0  273.0
D    288.0  268.0  256.0  267.0  303.0  259.0  275.0  288.0

In [7]:
for i in range(len(overall_transition_matrix_df)):
    total = overall_transition_matrix_df.iloc[i].sum()
    for j in range(len(overall_transition_matrix_df.columns)):
        overall_transition_matrix_df.iloc[i, j] /= total
overall_transition_matrix_df.to_excel(f'outputs/overall_ratings_transition_matrix.xlsx')
overall_transition_matrix_df

,AAA,AA,A,BBB,BB,B,C,D
AAA,0.122658,0.128011,0.116860,0.121766,0.136931,0.126227,0.120874,0.126673
AA,0.124833,0.131053,0.126610,0.126610,0.117725,0.131941,0.119058,0.122168
A,0.120526,0.127775,0.134119,0.123244,0.117807,0.129588,0.124604,0.122338
BBB,0.121843,0.126717,0.117412,0.124502,0.135135,0.130704,0.122286,0.121400
BB,0.119238,0.133865,0.125443,0.123227,0.122340,0.117465,0.130762,0.127660
B,0.124563,0.109703,0.115385,0.141608,0.125437,0.125874,0.138986,0.118444
C,0.123312,0.128540,0.124183,0.123312,0.121569,0.122876,0.137255,0.118954
D,0.130672,0.121597,0.116152,0.121143,0.137477,0.117514,0.124773,0.130672

In [8]:
for transition_matrix in transition_matrices:
    for i in range(len(transition_matrix)):
        total = transition_matrix.iloc[i].sum()
        for j in range(len(transition_matrix.columns)):
            transition_matrix.iloc[i, j] /= total

In [9]:
for i in range(len(transition_matrices)):
    transition_matrix = transition_matrices[i]
    transition_matrix.to_excel(f'outputs/transition_matrix_year_{i+1}_to_{i+2}.xlsx')