In [ ]:
import pandas as pd

In [ ]:
ratings_df = pd.read_excel('data/ratings_data.xlsx')
ratings_df

,Borrower Number,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,1,B,BB,B,AAA,C,BBB,AAA,B,D,BBB
1,2,BBB,AA,AA,D,AA,BBB,AA,A,C,B
2,3,D,AAA,AAA,A,AAA,D,B,A,AA,D
3,4,AAA,C,C,AAA,B,AAA,D,B,BB,C
4,5,BBB,AA,AAA,A,BBB,D,BBB,A,D,D
...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,BB,AA,D,BBB,AA,A,BB,BBB,AAA,BBB
1996,1997,B,D,BBB,A,AAA,AA,D,BB,AAA,B
1997,1998,BB,C,BB,BB,B,D,BB,AA,D,C
1998,1999,C,C,C,AA,B,BB,AAA,AA,B,BB
1999,2000,AAA,A,B,C,AA,BB,C,AAA,A,AA

In [ ]:
ratings = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'C', 'D']

transition_matrix = pd.DataFrame(0.0, index=ratings, columns=ratings)
transition_matrix

     AAA   AA    A  BBB   BB    B    C    D
AAA  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
AA   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
A    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BBB  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
BB   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
B    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
C    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
D    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
for i in range(len(ratings_df)):
    for j in range(2, len(ratings_df.columns)):
        from_rating = ratings_df.iloc[i, j-1]
        to_rating = ratings_df.iloc[i, j]
        transition_matrix.loc[from_rating, to_rating] += 1

In [ ]:
transition_matrix

       AAA     AA      A    BBB     BB      B      C      D
AAA  275.0  287.0  262.0  273.0  307.0  283.0  271.0  284.0
AA   281.0  295.0  285.0  285.0  265.0  297.0  268.0  275.0
A    266.0  282.0  296.0  272.0  260.0  286.0  275.0  270.0
BBB  275.0  286.0  265.0  281.0  305.0  295.0  276.0  274.0
BB   269.0  302.0  283.0  278.0  276.0  265.0  295.0  288.0
B    285.0  251.0  264.0  324.0  287.0  288.0  318.0  271.0
C    283.0  295.0  285.0  283.0  279.0  282.0  315.0  273.0
D    288.0  268.0  256.0  267.0  303.0  259.0  275.0  288.0

In [ ]:
for i in range(len(transition_matrix)):
    total = transition_matrix.iloc[i].sum()
    for j in range(len(transition_matrix.columns)):
        transition_matrix.iloc[i, j] /= total
transition_matrix

,AAA,AA,A,BBB,BB,B,C,D
AAA,0.122658,0.145898,0.155927,0.192467,0.267978,0.337353,0.487215,0.994017
AA,0.124833,0.149737,0.170121,0.204970,0.239678,0.353197,0.492428,0.993731
A,0.120526,0.145277,0.178392,0.199495,0.238173,0.343799,0.503455,0.993637
BBB,0.121843,0.144290,0.156225,0.196308,0.265075,0.348748,0.500696,0.993714
BB,0.119238,0.151979,0.167925,0.198226,0.245412,0.312175,0.504968,0.994132
B,0.124563,0.125304,0.150663,0.217683,0.246433,0.328069,0.538807,0.993651
C,0.123312,0.146611,0.165961,0.197566,0.242686,0.323812,0.534623,0.993686
D,0.130672,0.139865,0.155314,0.191752,0.269186,0.314746,0.487414,0.994170

In [ ]:
transition_matrix.to_excel('outputs/transition_matrix.xlsx')